/* Table of Contents
  1. Site-Wide
  2. Future Class Dates
  3. Navigation Bar
  4. Footer Tagline
  5. Image Viewer
  6. Did You Know
*/


/* 1. Site-Wide */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #004400;
  font-style: oblique;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }
}

main {
  min-height: 50vh;
}

article, aside, blockquote {
  font-family: Georgia, sans-serif;
  font-size: 1.2rem;
}

ul {
  list-style-type: disc;
  padding-left: 2em;
}

li {
  padding-bottom: .5em;
  line-height: 1.3em;
}

a {
  color: #0044dd;
}

a:hover {
  color: #0000aa;
}

@media screen and (min-width: 800px) {
  .two-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

.bg-sabbgreen {
  background-color: #004400;
}

.hidden-visually {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden-all {
  display: none;
}

*:focus {
  outline: 2px dotted #004400 !important;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* 2. Future Class Dates */
#class-date-container h3 {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Georgia, sans-serif;
}

#class-date-container h3 .class-date-indicator {
  font-weight: normal;
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  #class-date-container h3 {
    font-size: 1.2rem;
  }
}

#class-date-container p {
  font-size: 1rem;
}


/* 3. Navigation Bar */
nav.main-menu {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 4em;
  font-size: 1.3rem;
}

nav.main-menu ul.collapsed {
  display: none;
}

nav.main-menu ul {
  list-style-type: none;
}

nav.main-menu a.brand {
  align-self: center;
  margin-left: 15px;
}

nav.main-menu button {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 68, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
  width: 3em;
  height: 2em;
  align-self: center;
}

nav.main-menu ul {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 15px 15px rgba(0, 68, 0, .2);
  padding: 10px 0px 0px;
}

nav.main-menu ul li {
  padding: 0;
}

nav.main-menu ul li a {
  display: block;
  padding: 15px 0px;
  text-align: center;
  color: #004400;
}

nav.main-menu ul li a:hover {
  background-color: #ddd;
  text-decoration: none;
}

nav.main-menu ul li a:active {
  background-color: #ddd;
  text-decoration: none;
}

@media screen and (min-width: 875px) {
  nav.main-menu a.brand {
    margin-left: 5px;
  }

  nav.main-menu {
    font-size: 1.1rem;
  }

  nav.main-menu button {
    display: none;
  }

  nav.main-menu ul.collapsed {
    display: inline-block;
  }

  nav.main-menu ul {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-align: right;
  }

  nav.main-menu ul li {
    display: inline-block;
    height: 100%;
  }

  nav.main-menu ul li a {
    display: inline-block;
    height: 100%;
    padding: 1.2em 10px;
  }

  nav.main-menu ul li a:focus {
    background-color: #fff;
  }

  nav.main-menu ul li a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    background-color: #fff;
  }

  nav.main-menu ul li a:active {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    background-color: #fff;
  }
}

@media screen and (min-width: 1000px) {
  nav.main-menu {
    font-size: 1.2rem;
  }

  nav.main-menu ul li a {
    padding: 1.2em 15px;
  }
}


/* 4. Footer Tagline */
.tagline {
  font-size: 1.3rem;
}


/* 5. Image Viewer */
.thumbnail {
  cursor: pointer;
  background: none;
  border: none;
}

.thumbnail img {
  width: 100%;
}

#image-modal p {
  font-size: 1.3rem;
}


/* 6. Did You Know */
.did-you-know {
  border: 1px solid gray;

  padding: 15px 30px;
  border-radius: 15px;
}

.did-you-know .did-you-know-title {
  font-size: 1.5em;
  color: gray;
}