/* Table of Contents
  1. Site-Wide
  2. Future Class Dates
  3. Navigation Bar
  4. Footer Tagline
  5. Image Modal
  6. Did You Know
*/


/* 1. Site-Wide */

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #004400;
  font-style: oblique;
}

h2 {
  font-size: 1.7rem;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.bg-sabbgreen {
  background-color: #004400;
}

.text-sabbgreen {
  color: #004400;
}

article, aside {
  font-family: Georgia, sans-serif;
  font-size: 1.2rem;
}

li {
  padding-bottom: .5em;
  line-height: 1.3em;
}

@media screen and (min-width: 800px) {
  .two-columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}



/* 2. Future Class Dates */

.future-class-date,
.future-class-date:hover {
  color: black;
}

.future-class-date[aria-expanded="true"]:hover strong::after {
  content: "\02296";
}

.future-class-date[aria-expanded="false"]:hover strong::after {
  content: "\02295";
}


/* 3. Navigation Bar */

.navbar {
  font-size: 1.3rem;
}

.nav-item, .nav-item:active, .nav-item:hover {
  color: #004400;
}

.nav-item span {
  border-bottom: 3px solid #ffffff;
}

.nav-item:hover span {
  border-color: #004400;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 68, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* 4. Footer Tagline */
.tagline {
  font-size: 1.3rem;
}


/* 5. Image Modal */

.image-modal-content {
  background: rgba(0,0,0,0);
  border: none;
}

.image-modal-close {
  top: -8px;
  right: -8px;
  padding: 4px;
  line-height: 0px;

  background: #333;
  border: 3px solid #ccc;
  border-radius: 50%;

  cursor: pointer;
}

.image-modal-close:hover {
  background: #000;
  border-color: #fff;
}

.image-modal-close img {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 350px) {
  .image-modal-close img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-width: 576px) {
  .image-modal-close {
    top: -15px;
    right: -15px;
  }

  .image-modal-close img {
    width: 30px;
    height: 30px;
  }
}


/* 6. Did You Know */

.did-you-know {
  border: 1px solid gray;

  padding: 15px 30px;
  border-radius: 15px;
}

.did-you-know .did-you-know-title {
  font-size: 1.5em;
  color: gray;
}