---
layout: layouts/base.njk
permalink: /commendations/
pageTitle: Commendations | Sabbadino Driver Training
metaDescription: Read about the awards and honors Mr. Sabbadino has earned during his teaching career.
---
		<noscript>
			<div class="message message-warning text-center" role="alert">
				JavaScript is disabled in this web browser. Some features of this website may not work properly until JavaScript is enabled.
			</div>
		</noscript>
		<article class="row">
			<h1>Commendations</h1>
			<span id="main-content" tabindex="-1"></span>
			<div class="col-lg-9">
				<ul>
					<li>Driver Education Teacher of the Year (1980, 1985, and 1991)</li>
					<li>Who&apos;s Who Among American Teachers (2005)</li>
					<li>Safety Award, Safety Belts for South Carolina</li>
					<li>Honorary Lieutenant Colonel Aide-de-Camp, Alabama</li>
					<li>Emmett Hutto Award, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>*</li>
					<li>Lonnie Dunlap Award, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>*</li>
					<li>Newsletter Editor, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>*</li>
					<li>Achiever of the Year, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>*</li>
					<li>Outstanding Education and Service, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>*</li>
					<li>Dedicated to Christ and Christian Education, Bob Jones University</li>
					<li>Bishop/Seals Award, Southeast Region <abbr title="American Driver and Traffic Safety Education Association">ADTSEA</abbr>* (2011)</li>
					<li>
						In 2012, three of Mr. Sabb&apos;s students: Amanda Sweeting, Lauren McClellan, and Katherine West took 1st, 2nd, and 3rd place respectively in the SC Operation Lifesaver Railroad Safety poster contest.
					</li>
					<li>
						In the 2013 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* Distracted Driving poster contest, three of Mr. Sabbadino&apos;s students took 1st, 2nd, and 3rd place.
					</li>
					<li><abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* President&apos;s award, 2014-15</li>
					<li>
						In the 2015 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* Seat-Belt poster contest, the first, second, and third place winners were from Mr. Sabbadino&apos;s school. Judah Smith took first place, Kylie Watts took second, and Joseph Calamia took third.
					</li>
					<li>Commercial Driver Teacher of the Year, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* (2015)</li>
					<li>
						In the 2016 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* Distracted Driving poster contest, the first and second place winners were from Mr. Sabbadino&apos;s school. Hannah Lovegrove took first place, and Sneh George took second place.
					</li>
					<li>
						In the 2017 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* Driving Attitudes poster contest, all three winners were from Mr. Sabbadino&apos;s school. Emily Smith took first place, Leah Buffalino took second place, and Emma Fordham took third place.
					</li>
					<li>
						In the 2018 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* Seatbelt poster contest, Mr. Sabbadino&apos;s student Jocelyn Brazeal won first place. Another of Mr. Sabbadino&apos;s students, Hannah Terrell, won second place.
					</li>
					<li>
						In the 2019 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* Seatbelt poster contest, Mr. Sabbadino&apos;s student Claire Swartz won first place.
					</li>
					<li>
						In the 2020 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* poster contest, Mr. Sabbadino&apos;s students Owen Nigh and Sophia Gray placed first and second respectively.
					</li>
					<li>Harry Stille Award for Years of Outstanding Contributions and Distinguished Service to our Profession, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* (2020)</li>
					<li>
						In the 2021 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* poster contest, Mr. Sabbadino&apos;s students Matthew Troyer, Bethany Poteat, and Daniel Wokaty placed first, second, and third respectively.
					</li>
					<li>Lifetime Service in Driver &amp; Traffic Safety Education Award, <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* (2021)</li>
					<li>
						In the 2022 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* poster contest, Mr. Sabbadino&apos;s students Elle Gafken, Jonathan Lovegrove, and Elora Talbott placed first, second, and third respectively.
					</li>
					<li>
						In the 2023 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* "Sabbadino" poster contest, Mr. Sabbadino&apos;s students Lincoln Nigh, Natalie Kate Treas, and Audrey Rutlege placed first, second, and third respectively.
					</li>
					<li>
						In the 2024 <abbr title="South Carolina Driver and Traffic Safety Education Association">SCDTSEA</abbr>* "Sabbadino" poster contest, Mr. Sabbadino&apos;s students Savannah Hall, Christiana Ulrich, and Jonathan Muller placed first, second, and third respectively.
					</li>
				</ul>
				<footer>
					<h2>*Acronyms</h2>
					<dl>
						<dt>SCDTSEA</dt>
						<dd>South Carolina Driver and Traffic Safety Education Association</dd>
						<dt>ADTSEA</dt>
						<dd>American Driver and Traffic Safety Education Association</dd>
					</dl>
				</footer>
			</div>
		</article>
