---
layout: layouts/base.njk
permalink: /error/
pageTitle: Error! | Sabbadino Driver Training
metaDescription: There was an error with your form submission.
showMainNav: false
bodyClass: formError
---
		<span id="main-content" tabindex="-1"></span>
		<p class="text-center">
			We're sorry, there was an error with your form submission. Please try again.<br><br>
			<a href="/contact/">← Back to the contact page.</a>
		</p>
