---
layout: layouts/base.njk
permalink: /resources/
pageTitle: Resources | Sabbadino Driver Training
metaDescription: Take advantage of these driver education resources recommended by Mr. Sabbadino.
---
		<noscript>
			<div class="message message-warning text-center" role="alert">
				JavaScript is disabled in this web browser. Some features of this website may not work properly until JavaScript is enabled.
			</div>
		</noscript>
		<article>
			<h1>Resources</h1>
			<span id="main-content" tabindex="-1"></span>
			<h2>Benefits of Driver Education</h2>
			<p>
				Read one of Mr. Sabbadino&apos;s student's thoughts on
				<a href="/assets/docs/CourseBenefits.pdf" download>the benefits of a driver&apos;s education course.&nbsp;<small>(PDF, 115 KB)</small></a>
			</p>
			<h2>DMV Permit Test Preparation</h2>
			<h3>Videos</h3>
			<p>DMV Written Test has produced several YouTube videos to help you prepare for passing your permit test.</p>
			<div class="resource-video">
				<div class="video-container mb-4">
					<iframe src="https://www.youtube.com/embed/fkortYJAHH8" class="video"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="resource-video">
				<div class="video-container mb-4">
					<iframe src="https://www.youtube.com/embed/ZByjRunUGbM" class="video"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="resource-video">
				<div class="video-container mb-4">
					<iframe src="https://www.youtube.com/embed/0pa-Ko3xMEs" class="video"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="resource-video">
				<div class="video-container mb-4">
					<iframe src="https://www.youtube.com/embed/UK_i0u1c7Gk" class="video"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<h3>Free Practice Tests</h3>
			<p>
				Taking sample DMV tests is a great way to prepare for the real thing!
				The websites below all offer free practice tests.
			</p>
			<h4>Driver&apos;s Permit</h4>
			<ul>
				<li><a href="https://www.dmv-written-test.com/south-carolina/practice-test-1.html">DMV Written Test</a></li>
				<li><a href="https://dmv-permit-test.com/">DMV Permit Test</a></li>
				<li><a href="https://www.epermittest.com/south-carolina/sc-practice-permit-test">ePermitTest</a></li>
			</ul>
			<h4>Motorcycle</h4>
			<ul>
				<li><a href="https://www.dmv-written-test.com/south-carolina/motorcycle/practice-test-1.html">DMV Written Test</a></li>
				<li><a href="https://dmv-permit-test.com/motorcycle">DMV Permit Test</a></li>
			</ul>
			<h4>CDL</h4>
			<ul>
				<li><a href="https://dmv-permit-test.com/cdl">DMV Permit Test</a></li>
			</ul>
		</article>
