---
layout: layouts/base.njk
permalink: /success/
pageTitle: Success! | Sabbadino Driver Training
metaDescription: Your form submission was accepted.
showMainNav: false
bodyClass: formSuccess
---
		<span id="main-content" tabindex="-1"></span>
		<p class="text-center">
			Thank you, your form submission has been accepted.<br><br>
			<a href="/">← Back to the home page.</a>
		</p>
