---
layout: layouts/base.njk
permalink: /teaching/
pageTitle: Teaching Philosophy | Sabbadino Driver Training
metaDescription: Learn about Mr. Sabbadino's teaching philosophy that drives his excellent driver training courses.
---
		<noscript>
			<div class="message message-warning text-center" role="alert">
				JavaScript is disabled in this web browser. Some features of this website may not work properly until JavaScript is enabled.
			</div>
		</noscript>
		<article>
			<h1>Teaching Philosophy</h1>
			<span id="main-content" tabindex="-1"></span>
			<p>
				The purpose of our driving school is not merely to prepare students for the Driver's License Test,
				but also to help them understand the tremendous responsibility of operating a motor vehicle. We emphasize
				development of proper attitudes and sufficient skills to face complex traffic conditions that exist in
				our society today, as well as those the future may bring. Although time is limited, the goal of Sabbadino
				Driving School is to provide inexperienced drivers experience in all types of driving situations, and to
				see driving students mature to "Make Safety First &amp; Make Safety Last" throughout life.
			</p>
			<h2>Driver Training Classroom Time</h2>
			<p>
				Although a lot of driver training schools do the class work in a one-day, eight-hour session, the normal
				educational process (elementary through graduate school) uses one-hour or one-and-a-half-hour sessions.
				Our use of 4 two-and-half-hour sessions enhances our limited time to provide the most learning. The driver
				classroom teaching will employ a variety of methods for more interest and better learning &ndash; not only
				lecturing but also using an overhead projector, computer, videos, DVDs, CDs, discussions, handouts, posters,
				magnetic board, and various testing devices (reaction tester, Drunk Busters Goggles, etc.).
			</p>
			<h2>In the Car Driving Training</h2>
			<p>
				Although most driver training schools drive with only one student in the vehicle, I prefer to drive with two
				students at a time. The student who is not driving observes and learns from the student who is driving.
				However, it is important to note that only the time a student is actually driving counts as behind-the-wheel
				time! Students learn more in less time this way so more can be accomplished.
			</p>
			<h2>Parent Partnering for Driving School Success</h2>
			<p>
				We want to partner with parents. It will be an honor to be entrusted to help you train your young person to
				become a safe driver. Thank you for considering the Sabbadino Driving School LLC to give your young person a
				beneficial learning experience.
			</p>
			<p>
				<a href="/assets/docs/SabbadinoDrivingSchoolFamilyAgreement.pdf" download>Download Sabbadino Driving School's Family Agreement <small>(PDF, 92 KB)</small></a>
			</p>
			<footer>
				<p>
					<em>
						&ldquo;Some great educational goals are
						for my students to <strong>KNOW</strong> Safety,
						<strong>THINK</strong> Safety, <strong>BELIEVE IN</strong> Safety,
						<strong>TAKE TIME</strong> to be safe.&rdquo;
					</em>
				</p>
			</footer>
		</article>
