<header>
  <picture>
    <source type="image/webp" media="(max-width: 576px)" srcset="/assets/images/banner/webp/xs.webp" />
    <source type="image/webp" media="(max-width: 768px)" srcset="/assets/images/banner/webp/sm.webp" />
    <source type="image/webp" media="(max-width: 992px)" srcset="/assets/images/banner/webp/md.webp" />
    <source type="image/webp" media="(max-width: 1200px)" srcset="/assets/images/banner/webp/lg.webp" />
    <source type="image/webp" media="(min-width: 1200px)" srcset="/assets/images/banner/webp/xl.webp" />
    <source type="image/jpeg" media="(max-width: 576px)" srcset="/assets/images/banner/jpg/xs.jpg" />
    <source type="image/jpeg" media="(max-width: 768px)" srcset="/assets/images/banner/jpg/sm.jpg" />
    <source type="image/jpeg" media="(max-width: 992px)" srcset="/assets/images/banner/jpg/md.jpg" />
    <source type="image/jpeg" media="(max-width: 1200px)" srcset="/assets/images/banner/jpg/lg.jpg" />
    <source type="image/jpeg" media="(min-width: 1200px)" srcset="/assets/images/banner/jpg/xl.jpg" />
    <img src="/assets/images/banner/jpg/lg.jpg" alt="" class="banner" width="1200" height="291" />
  </picture>
</header>
