<footer>
  <div class="inner-footer-container">
    <p class="tagline">
      <em>&ldquo;Make&nbsp;Safety&nbsp;First &amp;&nbsp;Make&nbsp;Safety&nbsp;Last&rdquo;</em>
    </p>
    <p>
      &copy;&nbsp;Sabbadino&nbsp;Driving&nbsp;School,&nbsp;LLC 2011&#8209;<span id="copyright-current-year">2026</span>. All&nbsp;Rights&nbsp;Reserved.
    </p>
  </div>
</footer>
