<nav class="main-menu">
  <a class="brand" href="/">
    <picture>
      <source type="image/webp" media="(max-width: 400px)" srcset="/assets/images/brand/webp/xs.webp" />
      <source type="image/webp" media="(max-width: 992px)" srcset="/assets/images/brand/webp/sm.webp" />
      <source type="image/webp" media="(max-width: 1300px)" srcset="/assets/images/brand/webp/md.webp" />
      <source type="image/webp" media="(min-width: 1300px)" srcset="/assets/images/brand/webp/xl.webp" />
      <source type="image/jpeg" media="(max-width: 400px)" srcset="/assets/images/brand/jpg/xs.jpg" />
      <source type="image/jpeg" media="(max-width: 992px)" srcset="/assets/images/brand/jpg/sm.jpg" />
      <source type="image/jpeg" media="(max-width: 1300px)" srcset="/assets/images/brand/jpg/md.jpg" />
      <source type="image/jpeg" media="(min-width: 1300px)" srcset="/assets/images/brand/jpg/xl.jpg" />
      <img src="/assets/images/brand/jpg/sm.jpg" alt="home page" width="220" height="43" />
    </picture>
  </a>
  <button id="main-menu-toggle" type="button" aria-label="Toggle main menu"></button>
  <ul class="collapsed">
    {% for item in site.menuItems %}
      <li><a href="{{ item.href }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
</nav>
